:root {
    --bg-principal: #1A1A1A;
    --accent: #D92518;
    --text-primary: #FFF;
    --dark-gray: #4F4F4F;
    --correct: #4CAF50;
    --incorrect: #F44336;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-principal);
    color: var(--text-primary);
}

header {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--dark-gray);
    margin-bottom: 10px;
    padding: 50px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 408px;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        width: 408px;
    }

    li {
        background-color: var(--dark-gray);
        border-radius: .3rem;
        text-align: center;
        height: 40px;
        place-content: center;
        cursor: pointer;
    }
}

.correct-answers, .incorrect-answers {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.correct {
    background-color: var(--correct);
}

.incorrect {
    background-color: var(--incorrect);
}

#explicacion {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    width: 729px;
}

#next-question {
    background-color: var(--accent);
    color: var(--text-primary);
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: #F44336;
        transform: scale(1.1)
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: none;
}
